# Mac
.DS_Store

# IntelliJ
.idea

# Gradle
.gradle
build/
bin/
logs/

# Ignore Gradle GUI config
gradle-app.setting

*target*
*.jar
*.war
*.ear
*.class

# JVM crashes
*.log

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# eclipse specific git ignore
*.pydevproject
.project
.cproject
.metadata
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# Publishing
config.toml
